* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  /* box-sizing: border-box; */
}
main {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(https://cottagelife.com/wp-content/uploads/2018/06/shutterstock_609086588-1200x784.jpg)
      center no-repeat;
  /* background-size: cover; */
  background-position: top;
  margin: auto;
}
/* HEADER AREA START */
#header {
  background-color: rgb(214, 158, 158);
  width: 100%;
  height: 80px;
  display: block;
  position: fixed;
}
.inner_header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: rgb(214, 158, 158);
}
.logo {
  height: 100%;
  display: table;
  float: left;
}
.logo h1 {
  font-size: 60px;
  color: white;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
}
#nav-bar {
  float: right;
  height: 100%;
}
.nav-list {
  height: 100%;
  display: table;
  float: left;
  padding: 28px;
}
.nav-link {
  display: table-cell;
  /* vertical-align: middle; not working so replaced with padding 28px for parent class nav-list */
  height: 100%;
  color: white;
  font-size: 24px;
}
.nav-link:focus {
  color: #101010;
}
.nav-link:hover {
  color: #101010;
}
#nav-bar a:last-child {
  padding-right: 0px;
}
a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
/* HEADER AREA END */
#title {
  font-size: 60px;
  font-weight: 500;
  text-align: left;
  color: white;
  padding-left: 110px;
  padding-top: 85px;
}
.container1 {
  margin: auto;
  /* background: url(https://cottagelife.com/wp-content/uploads/2018/06/shutterstock_609086588-1200x784.jpg) no-repeat; */
  width: 90%;
  height: 700px;
}
#title span {
  font-size: 85px;
  font-weight: 550;
}
.container1 h2 {
  text-align: center;
  padding-top: 70px;
  padding-left: 550px;
  font-family: "Euphoria Script", cursive;
  font-size: 60px;
  font-weight: 500;
  /* color: rgb(241, 139, 22); */
}
.container2 {
  height: 50%;
  width: 37%;
  margin: auto;
  padding-left: 550px;
  padding-top: 20px;
  text-align: justify;
  font-size: 19px;
  font-weight: bolder;
}
.container2 span {
  font-size: 25px;
  font-weight: 700;
}
.email-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.email-input p {
  color: white;
  font-size: 30px;
  padding-right: 30px;
}
#email {
  width: 48%;
  font-size: 30px;
  margin-right: 30px;
}

#form {
  margin: 0px;
  padding: 0px;
}

::placeholder {
  font-size: 25px;
  text-align: center;
  /* added color: black for Mozilla - it automatically uses a gray color for placeholders */
  color: black;
}
#submit {
  font-size: 25px;
  background-color: rgb(214, 158, 158);
}
#submit:focus {
  background-color: #9e9e9e;
}
/* MEDIA QUERY START */
@media (max-width: 1000px) {
  #header {
    height: 40px;
  }
  .logo h1 {
    font-size: 30px;
  }
  .nav-list {
    padding: 10px;
  }
  .nav-link {
    font-size: 12px;
  }

  #title {
    font-size: 30px;
    padding-left: 0px;
    padding-top: 43px;
  }
  #title span {
    font-size: 43px;
  }
  .container1 {
    margin: auto;
    /* background: url(https://cottagelife.com/wp-content/uploads/2018/06/shutterstock_609086588-1200x784.jpg) no-repeat; */
    width: 90%;
    height: 700px;
  }
  #title span {
    font-size: 85px;
    font-weight: 550;
  }
  .container1 h2 {
    text-align: center;
    padding-top: 35px;
    padding-left: 150px;
    font-size: 40px;
  }
  .container2 {
    width: 50%;
    padding-left: 150px;
    padding-top: 10px;
    font-size: 20px;
  }
  .container2 span {
    font-size: 30px;
  }
}
/* MEDIA QUERY END */

/* OTHER PROJECTS AREA START */
.paragraph {
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
  font-weight: bolder;
}
.paragraph span {
  font-size: 35px;
  color: rgb(214, 158, 158);
}
#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  margin: 40px 100px 80px 100px;
}
.container-project {
  background-color: rgb(214, 158, 158);
  color: white;
  text-align: center;
  border: solid rgb(184, 127, 127);
}
.container-project:focus {
  background-color: white;
  color: rgb(214, 158, 158);
}
.container-project:hover {
  background-color: white;
  color: rgb(214, 158, 158);
}
.project-title {
  padding: 15px;
  font-size: 35px;
}
.project-description {
  padding-bottom: 20px;
}
/* OTHER PROJECTS AREA END */

/* CHOOSE AREA START */
.choose {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin: 100px 100px 0px 100px;
  text-align: center;
}
.choose-option {
  padding: 20%;
  margin-bottom: 100px;
  /* KEEP THE background-color IN CASE THE IMG'S URL IS UNAVAILABLE */
  background-color: rgb(136, 199, 151);
  border: solid black;
  font-size: 20px;
}

#register {
  /* /the linear-gradient gives the background a gray-like shade to make the foreground more readable */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://cottagelife.com/wp-content/uploads/2018/06/shutterstock_609086588-1200x784.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#donate {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://cf.ltkcdn.net/garden/images/orig/254882-2121x1414-watering.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#volunteer {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://www.thespruce.com/thmb/jqappNWgfBton2A4XxbeRVHat6I=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/BA65580-56a6d3745f9b58b7d0e5001c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* CHOOSE AREA END */
